<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'db_app/styles.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        {% csrf_token %}
        First Name<input type="text" name="f_name" id=""><br>
        Last Name<input type="text" name="l_name" id=""><br>
        Email<input type="email" name="email" id=""><br>
        Password<input type="password" name="password" id=""><br>
        Confirm Password<input type="password" name="confirm" id=""><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>